 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

.author-info {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
    color: #374151;
    justify-items: center;
    left: 40%;
}

.author-info a {
   text-decoration: none;
}

body {
  font-family: sans-serif;
  background-color: #fff;     
  height: 100vh;
  overflow: hidden;
}

.container{
  max-width: 850px;
  margin: 0 auto;
  padding: 10px 20px;
}

.title{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 2.0;
  margin-top: 20px;
}

.head {
  text-align: center;
  margin-bottom: 30px;
}

.head h1 {
    font-size: 38px;
    font-weight: 700;
    color: #111827;
    line-height: 1.25;
    margin-bottom: 10px;
}



.line {
  text-align: center;
  font-size: 20px;
  color: #d1d5db;
  margin: 20px 0 60px;
  letter-spacing: 3px;
}

.card{
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 30px;
}

.card img {
    border-radius: 16px;
    height: 130px;
    width: 130px;
    object-fit: cover;
}

.info h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 6px;
}

.info span {
    font-size: 13px;
    color: #6b7280;
}

@media (max-width: 768px) {
  .head h1 {
    font-size: 32px;
  }
  
  .card {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .card img {
    width: 100%;
    height: 220px;
  }

  .info h3{
  max-width: 100%;
}
}
